<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
  <title>
    Thaycacac | Phạm Ngọc Hòa
    
  </title>
  <meta name="author" content="Thaycacac" />
  
  
  <meta name="keywords" content="thaycacac, phạm ngọc hòa, pham ngoc hoa" />
   
  <meta name="p:domain_verify" content="a2be4006f87e62fc1cb690ce12700c90"/>
  <link rel="alternate" type="application/rss+xml" title="Thaycacac | Phạm Ngọc Hòa"
    href="/feed.xml" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137167305-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-137167305-1');
</script>

  
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K9C9P7Z');
</script>

  
  
  
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />

  
  
  
  
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  
  <link rel="stylesheet" href="/css/bootstrap-social.css" />
  
  <link rel="stylesheet" href="/css/main.css" />
  
  <link rel="stylesheet" href="/css/jquery-sakura.min.css" />
  
  
  
  
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
  
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
  
  
  
  

  

  
  <meta property="fb:app_id" content="2190189127692080" />
  

  
  <meta property="og:title" content="Thaycacac" />
  

  
  <meta property="og:description" content="{% for post in paginator.posts %} {{ post.title }} {% if post.subtitle %} {{ post.subtitle }} {% endif %} Posted on {{ post.date | date: &quot;%B %-d, %Y&quot; }} {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }} {% assign excerpt_word_count = post.excerpt | number_of_words %} {% if post.content...">
  

  <meta property="og:type" content="website" />

  
  <meta property="og:url" content="http://thaycacac.github.io/" />
  <link rel="canonical" href="http://thaycacac.github.io/" />
  

  
  <meta property="og:image" content="http://thaycacac.github.io/img/avatar-icon.png" />
  

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@" />
  <meta name="twitter:creator" content="@" />

  
  <meta name="twitter:title" content="Thaycacac" />
  

  
  <meta name="twitter:description" content="{% for post in paginator.posts %} {{ post.title }} {% if post.subtitle %} {{ post.subtitle }} {% endif %} Posted on {{ post.date | date: &quot;%B %-d, %Y&quot; }} {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }} {% assign excerpt_word_count = post.excerpt | number_of_words %} {% if post.content...">
  

  
  <meta name="twitter:image" content="http://thaycacac.github.io/img/avatar-icon.png" />
  

  
  
</head>


<body>

  
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K9C9P7Z" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


  <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="http://thaycacac.github.io">Thaycacac</a>
      
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        
        
        <li>
          






<a href="/frontend">Front End</a>
        </li>
        
        
        
        <li>
          






<a href="/backend">Back End</a>
        </li>
        
        
        
        <li>
          






<a href="/uiux">UI/UX</a>
        </li>
        
        
        
        <li>
          






<a href="/donate">Donate</a>
        </li>
        
        
        
        <li>
          






<a href="https://kungfutech.edu.vn/">Kungfutech</a>
        </li>
        
        
      </ul>
    </div>

    

  </div>
</nav>

  



<header class="header-section ">
  
  <div class="intro-header no-img">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <h1>Thaycacac</h1>
            
            
            <hr class="small">
            <span class="page-subheading">Everything is Art</span>
            
            

            
          </div>
        </div>
      </div>
    </div>
  </div>
</header>




<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="posts-list">
  
    <article class="post-preview">
      <a href="/2023-02-12-ky-luat-giac-ngu/">
        <h2 class="post-title">Kỷ luật giâc ngủ</h2>
        
        <h3 class="post-subtitle">
          Làm sao để kỷ luật giấc ngủ, không để ngủ nướng
        </h3>
        
      </a>
      <p class="post-meta">
        Posted on February 12, 2023
      </p>
      <div class="post-entry-container">
        <div class="post-entry">
          Để kỷ luật giấc ngủ và tránh ngủ nướng, bạn có thể áp dụng một số phương pháp và thói quen sau:


          
          
          <a href="/2023-02-12-ky-luat-giac-ngu/" class="post-read-more">[Read&nbsp;More]</a>
          
        </div>
      </div>
      
      <div class="blog-tags">
        Tags:
        
        
        <a href="/tags#life">life</a>
        
        
      </div>
      
    </article>
  
    <article class="post-preview">
      <a href="/2022-09-02-cac-cong-cu-huu-ich-danh-cho-developer/">
        <h2 class="post-title">Các công cụ hữu ích dành cho developer</h2>
        
        <h3 class="post-subtitle">
          Lợi nhi dụ chi, loạn nhi thủ chi, thực nhi bị chi, cường nhi tị chi...
        </h3>
        
      </a>
      <p class="post-meta">
        Posted on September 2, 2022
      </p>
      <div class="post-entry-container">
        <div class="post-entry">
          Tổng hợp các công cụ hữu ích dành cho developer:


          
          
          <a href="/2022-09-02-cac-cong-cu-huu-ich-danh-cho-developer/" class="post-read-more">[Read&nbsp;More]</a>
          
        </div>
      </div>
      
      <div class="blog-tags">
        Tags:
        
        
        <a href="/tags#backend">backend</a>
        
        <a href="/tags#frontend">frontend</a>
        
        
      </div>
      
    </article>
  
    <article class="post-preview">
      <a href="/2022-08-02-lo-trinh-tro-thanh-react-developer/">
        <h2 class="post-title">Lộ trình trở thành React developer</h2>
        
        <h3 class="post-subtitle">
          Thiện dụng binh giả, tị kỳ duệ khí, kích kỳ nọa quy...
        </h3>
        
      </a>
      <p class="post-meta">
        Posted on August 2, 2022
      </p>
      <div class="post-entry-container">
        <div class="post-entry">
          React JS hay React là một thư viện Javascript mã nguồn mở rất phổ biến hiện nay. Nó được maintained và phát triển thường xuyên bởi Facebook và một cộng đồng cực kỳ hùng hậu. React được coi như là một trong những thư viện tốt nhất trong những năm...
          
          
          <a href="/2022-08-02-lo-trinh-tro-thanh-react-developer/" class="post-read-more">[Read&nbsp;More]</a>
          
        </div>
      </div>
      
      <div class="blog-tags">
        Tags:
        
        
        <a href="/tags#frontend">frontend</a>
        
        
      </div>
      
    </article>
  
    <article class="post-preview">
      <a href="/2022-07-02-vi-sao-developer-nen-viet-blog/">
        <h2 class="post-title">Vì sao developer nên viết blog?</h2>
        
        <h3 class="post-subtitle">
          Công kỳ vô bị, xuất kỳ bất ý...
        </h3>
        
      </a>
      <p class="post-meta">
        Posted on July 2, 2022
      </p>
      <div class="post-entry-container">
        <div class="post-entry">
          Viết blog là một việc mang rất nhiều lợi ích đối với lập trình viên. Khi internet phát triển, chúng ta ngày càng kết nối với nhau nhiều hơn với mọi người trên khắp mọi nơi. Chúng ta có thể nói chuyện với mọi người, làm việc cùng nhau trên...
          
          
          <a href="/2022-07-02-vi-sao-developer-nen-viet-blog/" class="post-read-more">[Read&nbsp;More]</a>
          
        </div>
      </div>
      
      <div class="blog-tags">
        Tags:
        
        
        <a href="/tags#backend">backend</a>
        
        <a href="/tags#frontend">frontend</a>
        
        
      </div>
      
    </article>
  
    <article class="post-preview">
      <a href="/2022-06-02-5-chu-de-javascript-nang-cao-ban-nen-nam-chac/">
        <h2 class="post-title">5 chủ đề javascript nâng cao bạn nên nắm chắc</h2>
        
        <h3 class="post-subtitle">
          Binh vô thường thế, thủy vô thường hình, năng nhân địch biến hóa nhi thủ thắng giả, vị chi thần...
        </h3>
        
      </a>
      <p class="post-meta">
        Posted on June 2, 2022
      </p>
      <div class="post-entry-container">
        <div class="post-entry">
          Javascript đang trở thành ngôn ngữ lập trình phổ biến nhất thế giới. Là công cụ để xây dựng hầu hết những ứng dụng hiện đại từ web tới mobile. Đi kèm với đó là số lượng người học javascript cũng tăng lên chóng mặt. Nhưng việc học javascript online...
          
          
          <a href="/2022-06-02-5-chu-de-javascript-nang-cao-ban-nen-nam-chac/" class="post-read-more">[Read&nbsp;More]</a>
          
        </div>
      </div>
      
      <div class="blog-tags">
        Tags:
        
        
        <a href="/tags#backend">backend</a>
        
        <a href="/tags#frontend">frontend</a>
        
        
      </div>
      
    </article>
  
</div>


<ul class="pager main-pager">
  
  
  <li class="next">
    <a href="/page2">Older Posts &rarr;</a>
  </li>
  
</ul>

      
    </div>
  </div>
</div>

  <footer class="is-footer">
  <div class="container beautiful-jekyll-footer">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links"><li><a href="/feed.xml" title="RSS"><span class="fa-stack fa-lg" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="sr-only">RSS</span>
                </a>
          </li><li><a href="mailto:thaycacac@gmail.com" title="Email me"><span class="fa-stack fa-lg" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="sr-only">Email me</span>
                </a>
          </li><li><a href="https://www.facebook.com/thaycacac" title="Facebook"><span class="fa-stack fa-lg" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="sr-only">Facebook</span>
                </a>
          </li><li><a href="https://twitter.com/thaycacac" title="Twitter"><span class="fa-stack fa-lg" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="sr-only">Twitter</span>
                </a>
          </li><li><a href="tel:84968038714" title="Phone"><span class="fa-stack fa-lg" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="sr-only">Phone</span>
                </a>
          </li><li><a href="https://linkedin.com/in/thaycacac" title="LinkedIn"><span class="fa-stack fa-lg" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="sr-only">LinkedIn</span>
                </a>
          </li><li><a href="https://www.instagram.com/thaycacac" title="Instagram"><span class="fa-stack fa-lg" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="sr-only">Instagram</span>
                </a>
          </li><li><a href="https://www.youtube.com/channel/UCSfVU0_rcB5Kn1SkYrcTbRw" title="YouTube"><span class="fa-stack fa-lg" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="sr-only">YouTube</span>
                </a>
          </li></ul>
        <p class="copyright text-muted">
          Thaycacac
          &nbsp;&bull;&nbsp;
          2024

          
          &nbsp;&bull;&nbsp;
          <a href="http://thaycacac.github.io">thaycacac.github.io</a>
          

          
        </p>
      </div>
    </div>
  </div>
</footer>

  







<!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->

<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/jquery-sakura.min.js"></script>

<script>
  if (typeof jQuery == 'undefined') {
    document.write('<script src="/js/jquery-1.11.2.min.js"></scr' + 'ipt>');
  }
</script>


<!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->

<script src="/js/bootstrap.min.js"></script>


<!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->

<script src="/js/main.js"></script>





<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', 'UA-137167305-1', 'auto');
	ga('send', 'pageview');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137167305-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-137167305-1');
</script>
<!-- End Google Analytics -->


</body>
<script>
$(window).load(function () {
  $('body').sakura();
});
</script>

</html>